<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>RedditSans-Regular.ttf</string>
		<string>RedditSans-SemiBold.ttf</string>
		<string>RedditSans-Bold.ttf</string>
		<string>RedditSans-Medium.ttf</string>
		<string>RedditSans-Light.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
